@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
